.portf {
    display:inline-block;
   
    max-height: 200px;
    max-width: 250px;
}
.img {
    display:inline-block;
    height:200px;
    width:250px;
    margin:0px 20px 20px;
}
.img1 {
    background-image:url('../images/carne.jpg');
}
.img2 {
    background-image:url('../images/cats.jpg');
}
.img3 {
    background-image:url('../images/enemies.jpg');
}
.img4 {
    background-image:url('../images/sidewalk.jpg');
}
.img5 {
    background-image:url('../images/city.jpg');
}
.img6 {
    background-image:url('../images/color.jpg');
}
.specFont {
	color:white;
	position:absolute;
    width:250px;
	background: rgba(51, 153, 210, 0.8);
	padding:10px 0px;
    margin-top:140px;
}